body{
    background-color: #f7f7f7;
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-weight: 100;
    color: #ebd9da;
    font-size: 5rem;
}

.list__input{
    border: none;
    border-bottom: 1px solid #dfdfdf;
}


input:focus,
input.form-control:focus {
    outline: none;
}


.list__counter{
    background: white;
    border-top: 1px solid #dfdfdf;
}

i{
    font-style: normal;
    cursor: pointer;
    color: #c19698;
}